<div class="card">
    <h5 class="card-header">Alta de Semillas <button class="float-right btn btn-danger ml-1 w-15 h-25 mt-4 m-auto" [routerLink]="['/home', {outlets: {'inicio-semillas': ['insumos-semillas']}}]">
        <i class="fas fa-arrow-circle-left"></i>
        Cerrar
    </button></h5>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputDescrip">ID</label>
                <input type="text" class="form-control" disabled/>
            </div>
            <div class="form-group col-md-9">
                <label for="inputState">Descripción</label>
                <input type="text" class="form-control" />
            </div>
            <div class="custom-control custom-switch m-auto">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1">Activo</label>
            </div>
        </div>

        <br>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputState">Unidad de Medida</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Inventariable</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Unidad Peso de Mil</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Peso de Mil</label>
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputState">Variedad</label>
                <input type="text" class="form-control" />
            </div>
        </div>

        <br>

        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <label for="inputDescrip">Existencia</label>
                <input type="text" class="form-control" disabled/>
            </div>
            <div class="form-group col-md-3 mx-auto">
                <label for="inputDescrip">Costo Promedio</label>
                <input type="text" class="form-control" disabled/>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="inputState">Observaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success w-25 h-25 mt-4 m-auto">
                <i class="fas fa-save"></i>
                    Guardar
            </button>
        </div>

    </div>
</div>