<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/images/images-user.jpg" class="img-circle" alt="User Image" style="max-width: 45px !important;">
            </div>
            <div class="pull-left info">
                <p>{{ usuarioName }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVEGACION PRINCIPAL</li>
            <li routerLinkActive="active"><a [routerLink]="['/dashboard']"><i class="fa fa-circle-o text-aqua"></i> Inicio</a></li>
            <!-- MENU DE CATALOGOS-->
            <li routerLinkActive="active" class="treeview">
                <a href="javascript: void(0);">
                    <i class="fa fa-clipboard"></i> <span>Catálogos</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a [routerLink]="['/ciclos']"><i class="fa fa-circle-o text-aqua"></i> Ciclo Agrícola</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/lotes']"><i class="fa fa-circle-o text-aqua"></i> Lotes</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/siembra']"><i class="fa fa-circle-o text-aqua"></i> Siembra</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/tiposActivos']"><i class="fa fa-circle-o text-aqua"></i> Tipos de activos</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/activos']"><i class="fa fa-circle-o text-aqua"></i> Activos</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/tipoPersonal']"><i class="fa fa-circle-o text-aqua"></i> Tipo de personal</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/Personal']"><i class="fa fa-circle-o text-aqua"></i> Personal</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/tiposGastosAdmin']"><i class="fa fa-circle-o text-aqua"></i> Tipos de gastos administrativos</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/gastosAdmin']"><i class="fa fa-circle-o text-aqua"></i> Gatos administrativos</a></li>
                </ul>
            </li>
            <!-- MENU DE SEMILLAS-->
            <li routerLinkActive="active" class="treeview">
                <a href="javascript: void(1);">
                    <i class="fa fa-tint"></i> <span>Insumos</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a [routerLink]="['/semillasInsumos']"><i class="fa fa-circle-o text-aqua"></i> Semillas</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/fertilizantes']"><i class="fa fa-circle-o text-aqua"></i> Fertilizantes</a></li>

                    <li routerLinkActive="active" class="treeview">
                        <a href="javascript: void(1);">
                            <i class="fa fa-circle-o text-aqua"></i> <span>Seccion Agroquímicos</span>
                            <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li routerLinkActive="active"> <a [routerLink]="['/agroquimicosInsumos']"><i class="fa fa-circle-o text-aqua"></i> Agroquímicos</a></li>
                            <li routerLinkActive="active"> <a [routerLink]="['/tipoAgroquimicos']"><i class="fa fa-circle-o text-aqua"></i> Tipo Agroquímicos</a></li>
                            <li routerLinkActive="active"> <a [routerLink]="['/ingredientesActivos']"><i class="fa fa-circle-o text-aqua"></i> Ingredientes Activos</a></li>
                        </ul>

                    </li>

                    <li routerLinkActive="active"><a [routerLink]="['/productosInsumos']"><i class="fa fa-circle-o text-aqua"></i> Productos</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/unidadesInsumos']"><i class="fa fa-circle-o text-aqua"></i> Unidades</a></li>
                </ul>
            </li>

            <!-- MENU DE ADMINISTRACION-->
            <li routerLinkActive="active" class="treeview">
                <a href="javascript: void(0);">
                    <i class="fa fa-dashboard"></i> <span>Administracion</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a [routerLink]="['/usuarios']"><i class="fa fa-circle-o text-aqua"></i> Usuarios</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/tiposusuario']"><i class="fa fa-circle-o text-aqua"></i> Tipos de usuario</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
    <aside> /.sidebar -->
    </aside>