<section class="content-header">
    <h1>
        Ciclos
        <small>módulo de registro y edición de ciclos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a>Catálogos</a></li>
        <li class="active">Ciclos</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de Ciclos</h3>
                    <button type="button" class="close pull-right float-right" aria-label="Close" (click)="cerrar()"><i class="fa fa-times-circle fa-lg" style="color:rgb(207, 1, 1)"aria-hidden="true"></i></button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Nombre del ciclo</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="cicloFilter" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-2 float-right">
                            <div class="form-group">
                                <label class="font-weight-bold">Estatus</label>
                                <div class="form-group">
                                    <div class="switch pull-right float-left">
                                        <label>Inactivo
                                         <input type="checkbox" checked="" [(ngModel)]=" cicloStatus" [ngModelOptions]="{standalone: true}">
                                         <span class="lever switch-col-light-blue"></span>Activo
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group text-right">
                                <br>
                                <button type="button" class="btn btn-success waves-effect waves-light m-r-5 m-t-5" (click)="onBuscar()"> <i class="fa fa-search "></i> <span> Buscar</span> </button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Nombre/Descripcion</th>
                                <th>F. Inicio</th>
                                <th>F. Fin</th>
                                <th>Estatus</th>
                                <th>
                                    <div class="row">
                                        <div class="col mt-2">
                                            Acciones
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary float-right waves-effect waves-light" (click)="onShow(0, template)"> <i class="fa fa-plus-circle m-r-5"></i> <span> Nuevo</span> </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ciclos; let i=index;">
                                <td>{{ item.ciclo_id }}</td>
                                <td>{{ item.ciclo_descripcion}}</td>
                                <td>{{ item.Fecha_inicio}}</td>
                                <td>{{ item.Fecha_fin}}</td>
                                <td>{{ mostrarToF(item.ciclo_status,2) }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs m-lg-1" (click)="onShow(item.ciclo_id, template)"><i class="fa fa-edit"></i> Editar</button>
                                    <button type="button" class="btn btn-danger btn-xs m-lg-1" (click)="onDelete(item.ciclo_id)"><i class="fa fa-trash"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<ng-template #template>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm, $event)" novalidate>
        <div class="modal-header modal-info-custom">
            <h4 class="modal-title pull-left">Ciclos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Folio</label>
                        <input type="text" class="form-control" placeholder="Folio" [(ngModel)]="ciclo.ciclo_id" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="switch pull-right">
                        <label>Inactivo
                      <input  [disabled]="nuevoItem" type="checkbox" checked="" [(ngModel)]="ciclo.ciclo_status" [ngModelOptions]="{standalone: true}"><span class="lever switch-col-light-blue"></span>Activo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Nombre/Descripción <span class="text-danger">*</span></label>
                        <input name="Nombre" #Nombre="ngModel" type="text" class="form-control" placeholder="Nombre" [(ngModel)]="ciclo.ciclo_descripcion" [ngClass]="{'form-control-danger': Nombre.invalid && (Nombre.dirty || Nombre.touched || (userForm.submitted && !userForm.valid)),
                    'form-control-success': Nombre.valid && (Nombre.dirty || Nombre.touched)}" required>
                    </div>
                    <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched || userForm.submitted)" class="w-100" style="margin-top: -10px; margin-bottom: 1rem">
                        <span class="messages" *ngIf="Nombre.errors">
                      <small class="text-danger error">Nombre/Descripción es requerido.</small>
                    </span>
                    </div>
                </div>

            </div>


            <div class="row">

                <form class="form-inline">

                    <div class="form-group">
                        <div class="input-group">
                            <input style="top: 0px; visibility:hidden; position: absolute; margin-left: 10px;" name="depicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                         {{ date.day }}
                      </span>
                            </ng-template>

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Fecha inicial</label>
                            <div class="input-group">
                                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" [(ngModel)]="ciclo.ciclo_fechaIni">
                                <div class="input-group-append ">
                                    <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 ml-5">
                        <div class="form-group ">
                            <label>Fecha Final</label>
                            <div class="input-group">
                                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" [(ngModel)]="ciclo.ciclo_fechaFin">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 
                    <div class="col-6">
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <br>
                            <div class="input-group">
                                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" [(ngModel)]="ciclo.ciclo_fechaFin">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </form>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Observaciones</label>
                        <input type="text" class="form-control" placeholder="Se capturan las observaciones " [(ngModel)]="ciclo.ciclo_obs" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer ">

            <button type="button " class="btn btn-default pull-left " (click)="close = true" (click)=" modalRef.hide() ">Cerrar</button>
            <button type="submit " class="btn btn-primary ">Guardar Cambios</button>
        </div>

    </form>
</ng-template>