<nav class="navbar navbar-light  bg-warning">
    <span class="navbar-brand mb-0 h1">MEGASOFT</span>
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        SISTEMAS
      </button>
</nav>

<div class="cont">  
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <i class="fas fa-user fa-5x"></i> 
        <h5>Usuario super sistemas</h5>
        <h5>MANAGMENT</h5>
        <button type="button" class="btn btn-danger"> <i class="fas fa-sign-out-alt"></i>  Salir</button>
    </div>
  </div>
</div>