<div class="card">
    <!-- HEADER -->
    <div class="card-header ">
        <h5 class="card-header bg-transparent  border-0 float-left ">Alta Fertilizantes</h5>
        <button type="button" class="btn btn-danger float-right" (click)="retroceder()"> <i class="fas fa-arrow-circle-left"></i> Cerrar</button>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputDescrip">ID</label>
                <input type="text" class="form-control" disabled/>
            </div>
            <div class="form-group col-md-9">
                <label for="inputState">Descripción</label>
                <input type="text" class="form-control" />
            </div>
            <div class="custom-control custom-switch m-auto">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1">Activo</label>
            </div>
        </div>

        <br>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputDescrip">Composición:</label>
            </div>

            <div class="form-group col-md-5"></div>

            <div class="form-group col-md-2">
                <label for="inputDescrip">Otros Compuestos:</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDescrip">Nitrógneo (N):</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputDescrip">%</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDescrip">Potasio (K):</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputDescrip">%</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDescrip">Fósforo (P):</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputDescrip">%</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDescrip">Azufre (S):</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputDescrip">%</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-8">
                <div class="form-group col-md-12">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputState">Función</label>
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Estado</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Inventariable</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <label for="inputDescrip">Existencia</label>
                <input type="text" class="form-control" disabled/>
            </div>
            <div class="form-group col-md-3 mx-auto">
                <label for="inputDescrip">Costo Promedio</label>
                <input type="text" class="form-control" disabled/>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="inputState">Observaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success w-25 h-25 mt-4 m-auto" (click)="onSuccess('Agregado correctamente')">
                <i class="fas fa-save"></i>
                Guardar
            </button>
            <simple-notifications></simple-notifications>
        </div>

    </div>
</div>