<div class="card">
    <h5 class="card-header">Fertilizantes Insumos<button class="float-right btn btn-danger ml-1 w-15 h-25 mt-4 m-auto" (click)="retroceder()">Cerrar</button></h5>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputDescrip">Descripción</label>
                <input type="email" class="form-control" id="inputEmail4" />
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Estado</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputState">Status</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputState">Inventariable</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary ml-1 w-25 h-25 mt-4 m-auto" (click)="altaFertilizantes()">+ Nuevo</button>
        </div>

        <div class="tablita mt-2 overflow-auto table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Status</th>
                        <th scope="col">Procesos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <button type="button" class="btn btn-success">Ver</button>
                        <button type="button" class="btn btn-warning ml-1">Editar</button>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>