.card {
    width: 63.4rem;
    margin-left: -1.6%;
    background-color: rgba(255, 255, 255, 0.829);
}

@media (max-width: 280px) {
    .card {
        width: auto;
    }
}


/*
.tablita {
    width: 64rem;
    height: 22rem;
}

thead {
    background: white;
    position: sticky;
    top: 0;
}
*/