<div class="container m-0 p-0">

    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-3 m-0 p-0">
                <div class="nav-side-menu ">
                    <div class="brand">Brand Logo</div>
                    <i class="fa fa-bars  toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                    <div class="menu-list">
                        <ul id="menu-content" class="menu-content collapse out">

                            <!-- SUBMENU DE CATALOGOS-->
                            <li data-toggle="collapse" data-target="#new1" class="collapsed">
                                <a><i class="fas fa-clipboard"></i> Catálogos <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new1">
                                <li>Ciclo agrícola</li>
                                <li>Lotes</li>
                                <li>Tipos de activos</li>
                                <li>Activos</li>
                                <li>Tipo de personal</li>
                                <li>Personal</li>
                                <li>Tipos de gastos administrativos</li>
                                <li>Gastos administrativos</li>
                            </ul>
                            <!-- SUBMENU DE INSUMOS-->
                            <li data-toggle="collapse" data-target="#new2" class="collapsed">
                                <a><i class="fas fa-hammer pr-4"></i> Insumos<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new2">
                                <!-- Los puse en el Li tambien para que agarre si le aplasta donde no esta el nombre    -->
                                <li> <a [routerLink]="['/home', {outlets: {'inicio-semillas': ['insumos-semillas']}}]">Semillas</a></li>
                                <!--<li [routerLink]="['/insumos-fertilizantes']"> <a [routerLink]="['/insumos-fertilizantes']">Fertilizantes</a></li>
                                <li [routerLink]="['/insumos-agroquimicos']"> <a [routerLink]="['/insumos-agroquimicos']">Agroquímicos</a></li>
                                <li [routerLink]="['/insumos-productos']"> <a [routerLink]="['/insumos-productos']">Productos</a></li>-->
                            </ul>
                            <!-- SUBMENU DE SIEMBRA-->
                            <li data-toggle="collapse" data-target="#new3" class="collapsed">
                                <a><i class="fas fa-seedling pr-4"></i>Siembra<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new3">
                                <li>Semillas</li>
                                <li>Fertilizantes</li>
                                <li>Agroquímicos</li>
                            </ul>
                            <!-- MENU DE COMPRAS-->
                            <li>
                                <a>
                                    <i class="fas fa-shopping-cart pr-4"></i> Compras
                                </a>
                            </li>
                            <!-- SUBMENU DE APLICACIONES DE GASTOS-->
                            <li data-toggle="collapse" data-target="#new4" class="collapsed">
                                <a><i class="fas fa-chart-line pr-4"></i>Aplicaciones de gastos<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new4">
                                <li>Insumos</li>
                                <li>Amortizaciones</li>
                                <li>Gastos administrativos</li>
                                <li>Gastos en general</li>
                            </ul>
                            <!-- SUBMENU DE UTELERIAS-->
                            <li data-toggle="collapse" data-target="#new5" class="collapsed">
                                <a><i class="fas fa-percentage pr-4"></i>Utilerías<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new5">
                                <li>Proceso de kardex</li>

                            </ul>
                            <!-- SUBMENU DE ADMINISTRACION-->
                            <li data-toggle="collapse" data-target="#new6" class="collapsed">
                                <a><i class="fas fa-user-cog pr-4"></i> Administración<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new6">
                                <li>Usuarios</li>
                                <li>Tipos de usuarios</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 
      <div class="col-sm-9 col-sm-offset-1">
          <h1>Welcome To Dashboard Panel </h1>
          <p>
              this is test text.this is test text.this is test text.this is test text. this is test text.this is test text.this is test text.this is test text. this is test text.this is test text.this is test text.this is test text. this is test text.this is test text.this
              is test text.this is test text. this is test text.this is test text.
          </p>
      </div>
      -->
        </div>
    </div>
</div>

<router-outlet></router-outlet>