.card {
    align-items: center;
    width: 250px;
    float: right;
    margin-right: 5px;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    z-index: 100;
}

h5 {
    text-align: center;
    margin-top: 3px;
}

@media screen and (min-width: 350px) {
    .cont {
        position: absolute;
        /*margin-left: 5%;*/
    }
    body {
        background-color: yellow;
    }
}

@media (max-width: 1500px) {
    .cont {
        position: absolute;
        margin-left: 95%;
    }
}

@media (min-width: 1300px) {
    .cont {
        position: absolute;
        margin-left: 80%;
    }
}

@media (max-width: 1280px) {
    .cont {
        position: absolute;
        margin-left: 75%;
    }
}

@media (max-width: 768px) {
    .cont {
        position: absolute;
        margin-left: 65%;
    }
}

@media (max-width: 500px) {
    .cont {
        position: absolute;
        margin-left: 35%;
    }
}