<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light peach-gradient sticky-top ">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">MEGASOFT</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse cont" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav ">

            <!-- Dropdown -->
            <li class="nav-item dropdown">


                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mdb-icon fas icon="user"></mdb-icon> USER </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">
                        <mdb-icon fas icon="sign-out-alt"></mdb-icon> Sign off</a>
                </div>
            </li>

        </ul>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->